.login-modal {
    width: 75%;
    margin: auto auto;
    background-color: var(--bg-body-color);
    border: none;
    border-radius: 15px;
}

.login-modal::backdrop {
    backdrop-filter: blur(2px);
    background-color: rgba(0, 0, 0, 0.5);
}

.overlay-forms {
    position: absolute;
    width: 50%;
    height: 100%;
    z-index: 1;
    border: none;
    transform: translateX(0%);
    transition: transform 0.5s ease-in-out;
    background: url('../../assets/FondoGamerx2.jpg');
    background-size: 150%;
    background-position: center;
    padding: 1.5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    color: var(--secondary-text-body-color);
}

.overlay-forms::before {
  content: '';
  position: absolute;
  inset: 0;
  background: rgba(var(--overlay-forms), 0.8);
  z-index: 0;
}

.overlay-forms > * {
  position: relative;
  z-index: 1;
}

.overlay-forms p {
    font-size: 1.1rem;
    font-weight: 600;
}

.btn-close-modal {
    background-color: transparent;
    border: none;
    font-size: 2rem;
    position: absolute;
    top: 10px;
}

.overlay-forms button {
    width: 50%;
    margin: 0 auto;
    border: none;
    border-radius: 10px;
    background-color: var(--overlay-forms-btn-switch-bg);
    padding: 0.5rem;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
    color: var(--secondary-text-body-color);
}

.overlay-forms button:hover {
    background-color: var(--overlay-forms-btn-switch-bg-hover);
}

.overlay-forms button:active {
    background-color: var(--overlay-forms-btn-switch-bg-active);
}

.overlay-forms.switch {
    transform: translateX(100%);
}

.forms-container {
    display: flex;
    flex-direction: row;
    min-height: 60vh;
}

.forms-container h2 {
    text-align: center;
}

.signup-container {
    flex: 1;
    padding: 1.5rem;
}

.login-container {
    flex: 1;
    padding: 1.5rem;
}

.signup-form, .login-form {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    padding: 1rem 2rem;
}

.signup-form label, .login-form label {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    row-gap: 0.5rem;
    font-size: 1.1rem;
    font-weight: 600;
    padding: 0 0 0 0.5rem;
}

.signup-form input, .login-form input {
    border-radius: 10px;
    padding: 0.5rem;
    font-size: 1.1rem;
    font-weight: 500;
}

.signup-form .submit-signup-form, .login-form .submit-login-form {
    width: 50%;
    margin: 0 auto;
    background-color: var(--overlay-forms-btn-bg);
    border: none;
    padding: 0.5rem;
    border-radius: 10px;
    font-size: 1.1rem;
    margin-top: 1rem;
    font-weight: bold;
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;
    color: var(--secondary-text-body-color);
}

.signup-form .submit-signup-form:hover, .login-form .submit-login-form:hover {
    background-color: var(--overlay-forms-btn-bg-hover);
}

.signup-form .submit-signup-form:active, .login-form .submit-login-form:active {
    background-color: var(--overlay-forms-btn-bg-active);
}

.error-message {
    text-align: center;
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--error-message-color);
}

@media (max-width: 1024px) {
    .login-modal{
        width: 90%;
    }

    .forms-container {
        min-height: 80vh;
    }
}

@media (max-width: 768px) {
    .forms-container {
        display: flex;
        flex-direction: column;
        min-height: 95vh;
    }

    .overlay-forms {
        width: 100%;
        height: 15%;
        left: 0;
        bottom: 0%;
        transform: translateX(0%);
    }

    .overlay-forms.switch {
        transform: none;
    }

    .overlay-forms p, .overlay-forms h2 {
        display: none;
    }

    .hidden-form {
        display: none;
    }
}