.spinner-container {
    aspect-ratio: 1 / 1;
    background-color: transparent;
    border-radius: 50%;
    border: 2px solid gray;
    border-top: 2px solid red;
    animation: spin 0.8s ease-in-out infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}