.spinner-container {
  aspect-ratio: 1 / 1;
  background-color: var(--spinner-bg);
  border-radius: 50%;
  border: 2px solid var(--spinner-border-color);
  border-top: 2px solid var(--spinner-border-top-color);
  animation: spin 0.8s ease-in-out infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
