.card-link {
  text-decoration: none;
  min-width: 0;
}

.card {
  position: relative;
  border-radius: 15px;
  overflow: visible;
  background: transparent;
  z-index: 5;
  /* overflow: visible; */
  /* flex: 1;
  min-width: 250px; 
  Es posible, pero si quedan diferente cantidad de items por fila seran
  de diferente tamano*/
}

.card-inner {
  position: absolute;
  inset: 0;
  opacity: 0.25;
  transform: scale(0.975);
  border-radius: 15px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  z-index: -1;
}

.card:hover .card-inner{
  transform: scale(1.05);
  background-color: var(--hover-color);
}

.card-image {
  width: 100%;
  border-radius: 15px;
  object-fit: cover;
  aspect-ratio: 16 / 9;
}

.card-content {
  padding: 0 0.25rem 1rem 1rem;
  color: var(--text-body-color);
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.card-title {
  font-size: 1.25rem;
  font-weight: 625;
}

.card-text {
  font-size: 1.1rem;
  color: var(--text-secondary-color);
}

.card-title, .card-text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

@media (max-width: 480px) {
  .card-content, .card-image {
    border-radius: 0px;
  }
}

/* Ideas para implementar el hover de youtube, scale aumentaba todo la tarjeta y padding corrio los
demas objetos. */

/* .card:hover, .card:focus {
  cursor: pointer;
  background-color: aqua;
  transform: scale(1.05);
  transition: background-color 0.3s ease-in-out;
} */

/* Funciono, solo no tenia que tener dentro lo demas, funcionaba con scale tambien, puro leceando yo */

/* .card::before {
  content: "";
  position: absolute;
  inset: 0;
  transform: scale(0.975);
  border-radius: 15px;
  background: transparent;
  z-index: -1;
  transition: 
    transform 0.3s ease,
    background-color 0.3s ease,
    box-shadow 0.3s ease;
}

.card:hover::before, .card:focus-visible::before {
  transform: scale(1.05);
  background-color: aqua;
} */
