.card {
    border-radius: 10px;
    background-color: var(--bg-body-color);
    width: 47%;
}

.card-image {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-content {
    padding: 1rem;
    color: var(--text-body-color);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.card-text {
    font-size: 1rem;
}