.container {
    display: flex;
    gap: 3rem;
    align-items: flex-start;
}

.game-container {
    width: 70%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 1rem;
}

.game-heading {
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
    order: 2;
    padding-left: 1rem;
    justify-content: center;
    align-items: center;
}

.game-img {
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    width: 3rem;
    object-fit: cover;
}

.game-title {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--text-body-color);
}

.game {
    border: none;
    border-radius: 10px;
    width: 100%;
    order: 1;
    aspect-ratio: 16 / 9;
}

.game-information {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex: 1;
    order: 3;
    gap: 1rem;
}

.tags-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    padding-left: 1rem;
}

.other-games {
    width: calc(30% - 2rem);
    overflow-y: hidden;   /* scroll si supera la altura */
    max-height: 100%;   /* clave */
}