.filter-buttons-container {
  display: flex;
  width: 100%;
  overflow-x: scroll;
  column-gap: 0.5rem;
  margin-bottom: 1rem;
}

.filter-games-button {
  border-radius: 20px;
  font-size: 1.1rem;
  font-weight: 400;
  background-color: var(--bg-body-color);
  border: 1px solid gray;
  padding: 0 1rem;
  cursor: pointer;
}

.filter-games-button:hover {
  background-color: aqua;
}

.games-grid {
  display: grid;
  column-gap: 1.25rem;
  row-gap: 1.75rem;
  grid-template-columns: repeat(4, 1fr);
}

@media (max-width: 1920px) {
  .games-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1280px) {
  .games-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 640px) {
  .games-grid {
    grid-template-columns: 1fr;
  }
}