.landing-page-spinner-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.filter-buttons-container {
  display: flex;
  width: 100%;
  overflow-x: scroll;
  column-gap: 0.5rem;
  margin-bottom: 1rem;
  cursor: grab;
  height: fit-content;
}

.filter-buttons-container::-webkit-scrollbar {
  height: 4px;
}

.filter-buttons-container::-webkit-scrollbar-track {
  background: transparent;
}

.filter-buttons-container::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb-bg);
  border-radius: 10px;
}

.filter-buttons-container::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollbar-thumb-bg-hover);
}

.filter-buttons-container:active {
  cursor: grabbing;
}

.filter-games-button {
  border-radius: 10px;
  font-size: 1.1rem;
  font-weight: 400;
  background-color: transparent;
  border: 1px solid var(--filter-games-btn-border);
  padding: 0.5rem 1rem;
  cursor: pointer;
  height: fit-content;
  white-space: nowrap;
}

.filter-games-button:hover {
  background-color: var(--filter-games-btn-bg-hover);
}

.filter-games-button:active {
  background-color: var(--filter-games-btn-bg-active);
}

.games-grid {
  display: grid;
  column-gap: 1.25rem;
  row-gap: 1.75rem;
  grid-template-columns: repeat(4, 1fr);
}

@media (max-width: 1920px) {
  .games-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1280px) {
  .games-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 640px) {
  .games-grid {
    grid-template-columns: 1fr;
  }
}