.btn-fav {
  position: relative;
  background-color: transparent;
  color: gray;
  border: none;
  font-size: 1.25rem;
  transition: color 0.3s ease-in-out;
  position: relative;
  top: 3px;
}

.btn-fav.checked {
  color: red;
  transition: color 0.3s ease-in-out;
  position: relative;
  top: 3px;
}