.other-games-container {
    display: flex;
    flex-direction: column;
    gap: 0;
}

.other-games-container > a {
    text-decoration: none;
    transition: background-color 0.3s ease-in-out;
    border-radius: 10px;
}

.other-games-container > a:hover,
.other-games-container > a:focus {
    background-color: var(--bg-anchor-hover-color);
}

.other-games-container > a:active {
    background-color: var(--bg-anchor-active-color);
}

.other-game-container {
    display: flex;
    flex-wrap: wrap;
    column-gap: 1rem;
    padding: 0.75rem 0.5rem;
}

.other-game-img {
    width: 35%;
    object-fit: cover;
    border-radius: 10px;
    aspect-ratio: 16 / 9;
}

.other-game-information {
    width: calc(65% - 1rem);
}

.other-game-information > h4 {
    color: var(--text-body-color);
    font-size: 1.1rem;
    font-weight: 600;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}

.other-game-information > p {
    font-size: 1rem;
    font-weight: 400;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    color: var(--text-secondary-color);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}