.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  padding: 0 2rem;
  z-index: 10;
  background-color: rgba(var(--bg-body-color-rgb), 0.75);
  backdrop-filter: blur(10px);
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  column-gap: 1rem;
}

.navbar-logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 30%;
}

.navbar-toggle {
  background-color: inherit;
  border: none;
  color: inherit;
  font-size: 2rem;
  padding: 0.4rem 0.2rem 0 0.2rem;
  transform: rotate(180deg);
}

.navbar-toggle:hover, .navbar-toggle:focus {
  cursor: pointer;
  background-color: var(--bg-anchor-hover-color);
  border-radius: 10px;
}

.navbar-toggle:active {
  background-color: var(--bg-anchor-active-color);
  border-radius: 10px;
}

.logo-svg {
  padding: 0.5rem;
}

.search-bar {
  width: 35%;
  height: auto;
  display: flex;
  align-items: stretch;
}

.search-input {
  padding: 0.6rem;
  border-radius: 15px 0 0 15px;
  border: 2px solid var(--border-bg-search-color);
  background-color: var(--bg-body-color);
  color: var(--text-body-color);
  font-size: 1rem;
  width: 85%;
}

.search-input:focus-visible {
  outline: none;
  border: 2px solid var(--border-bg-search-color);
  box-shadow: 0 0 1px 1px var(--border-focus-search-color);
}

.search-button {
  background-color: var(--border-bg-search-color);
  border: 2px solid var(--border-bg-search-color);
  font-size: 1.5rem;
  border-radius: 0 15px 15px 0;
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-button:hover, .search-button:focus {
  cursor: pointer;
  background-color: var(--bg-anchor-hover-color);
  border: 2px solid var(--bg-anchor-hover-color);
}

.search-button:active {
  background-color: var(--bg-anchor-active-color);
  border: 2px solid var(--bg-anchor-active-color);
}

.search-input::placeholder, .search-input:focus::placeholder {
  color: var(--text-body-color);
  opacity: 0.85;
}

.navbar-user {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: var(--text-body-color);
  width: 30%;
}

.container-user {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 0.2rem 0.5rem;
  border-radius: 10px;
}

.container-user:hover, .container-user:focus {
  cursor: pointer;
  background-color: var(--bg-anchor-hover-color);
}

.container-user:active {
  background-color: var(--bg-anchor-active-color);
}

.icon-container {
  background-color: inherit;
  border: none;
  color: inherit;
  font-size: 2rem;
  padding: 0.3rem 0.2rem 0 0.2rem;
}

.username {
  color: inherit;
  font-size: 1rem;    
  font-weight: 500;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip-path: inset(50%);
}

@media (max-width: 768px) {
  .header {
    padding: 0.5rem 1rem;
  }

  .navbar-logo {
    width: 35%;
  }

  .search-bar {
    width: 45%;
  }

  .navbar-user {
    width: 10%;
  }

  .username {
    display: none;
  }
}

@media (max-width: 480px) {
  .header {
    padding: 0.5rem 1rem;
    height: 130px;
  }

  .navbar-logo {
    width: 60%;
    order: 1;
  }

  .search-bar {
    order: 3;
    width: 75%;
    margin: 0.5rem auto;
  }

  .navbar-user {
    width: 30%;
    order: 2;
  }

  .username {
    display: none;
  }
}
