.hidden {
  display: none;
}

.sidebar[aria-hidden="true"] {
  visibility: hidden;
}

.sidebar {
  width: 275px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
  color: inherit;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  background-color: var(--bg-body-color);
  color: var(--text-body-color);
  padding: 0.5rem 1rem;
  transform: translateX(-100%);
}

.sidebar.open {
  transform: translateX(0);
  transition: 0.4s ease-in-out;
}

.sidebar.closed {
  transform: translateX(-100%);
  transition: 0.4s ease-in-out;
}

.sidebar-logo {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.5rem 0 0 10%;
  gap: 0.5rem;
}

.sidebar-toggle {
  color: inherit;
  background-color: inherit;
  border: none;
  font-size: 2rem;
  font-weight: 300;
  padding: 0.4rem 0.2rem 0 0.2rem;
}

.sidebar-toggle:hover, .sidebar-toggle:focus {
  cursor: pointer;
  background-color: var(--bg-anchor-hover-color);
  border-radius: 10px;
}

.sidebar-toggle:active {
  background-color: var(--bg-anchor-active-color);
  border-radius: 10px;
}

.logo-svg {
  padding: 0.5rem;
}

hr.separator {
  width: 100%;
  height: 2px;
  background-color: var(--bg-hr-color);
  border: none
}

.sidebar-title {
  font-weight: 700;
  font-size: 1.25rem;
  padding-left: 10%;
  width: 100%;
  color: inherit;
}

.sidebar-links {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.sidebar-links li {
  list-style: none;
  width: 100%;
  font-size: 1rem;
  font-weight: 400;
}

.sidebar-links li a {
  text-decoration: none;
  color: inherit;
  padding: 0.75rem 0 0.75rem 10%;
  width: 100%;
  height: 100%;
  display: block;
}

.sidebar-links li a:hover, .sidebar-links li a:focus {
  background-color: var(--bg-anchor-hover-color);
  border-radius: 10px;
  cursor: pointer;
}

.sidebar-links li a:active {
  background-color: var(--bg-anchor-active-color);
  border-radius: 10px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .sidebar {
    width: min(50%, 400px);
    padding: 0.5rem 0.5rem;
  }
}

@media (max-width: 480px) {
  .sidebar {
    width: min(80%, 500px);
    padding: 0.5rem 0.5rem;
  }
}
