*, ::after, ::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 2px solid black;
}

:root {
  color-scheme: light;
  --primary-color: #E379AF;
  --secondary-color: #FF9060;
  --success-color: #00bc8c;
  --danger-color: #F1B7D5;
  --warning-color: #F7B99E;
  --info-color: #3498db;
  --light-color: var(--bs-white);
  --dark-color: var(--bs-black);
  --bs-body-bg: #F8F8F8;
  --bs-body-color: var(--bs-black);
  --bs-body-color-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
    :root {
        color-scheme: light;
        --primary-color: #E379AF;
        --secondary-color: #FF9060;
        --success-color: #00bc8c;
        --danger-color: #F1B7D5;
        --warning-color: #F7B99E;
        --info-color: #3498db;
        --light-color: var(--bs-white);
        --dark-color: var(--bs-black);
        --bs-body-bg: #F8F8F8;
        --bs-body-color: var(--bs-black);
        --bs-body-color-rgb: 0, 0, 0;
    }
}

body {
  width: 100vw;
  overflow-x: hidden;
  min-height: 100vh;
}

#root {
    width: 100%;
}
