.layout-content {
  position: relative;
  width: calc(100vw - 275px);
  min-height: calc(100vh - 80px);
  top: 80px;
  left: 275px;
  transition: 0.4s ease-in-out;
  background-color: rgba(255, 255, 255, 0.575);
  padding: 2rem;
}

.sidebar-closed {
  width: 100vw;
  left: 0;
  transition: 0.4s ease-in-out;
}

@media (max-width: 768px) {
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    filter: blur(2px);
    z-index: 15;
  }
}