.layout-content {
  position: relative;
  width: calc(100vw - 275px);
  min-height: calc(100vh - 80px);
  top: 80px;
  left: 275px;
  transition: left 0.4s ease-in-out, width 0.4s ease-in-out;
  background-color: var(--main-bg-color);
  padding: 1rem;
}

.sidebar-closed {
  width: 100vw;
  left: 0;
  transition: left 0.4s ease-in-out, width 0.4s ease-in-out;
}

@media (max-width: 768px) {

  .layout-content {
    width: 100vw;
    top: 80px;
    left: 0;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.45);
    filter: blur(2px);
    z-index: 15;
  }
}

@media (max-width: 480px) {
  .layout-content {
    width: 100vw;
    min-height: calc(100vh - 130px);
    top: 130px;
    left: 0;
    padding: 0;
  }
}